*{
    margin: 0 ;
    padding: 0;

}
body{

border-radius: 5px;
background-image: url('../imagens/fullblack.jpg');
background-attachment: fixed;
background-repeat: no-repeat;
background-size: 100%
}
#principal{
    float: right;
}
h1{ 
    font-family: 'Rowdies', cursiv;
    font-size: 50px;
    margin-top:50px;
    color: white;
    text-shadow: 3px 5px 4px rgb(8, 59, 8);
}
p{
    font-family: 'Rowdies', cursiv;
    margin-top: 15px;
    margin-bottom:15px;
    color: white;
    text-shadow: 3px 5px 4px rgb(8, 59, 8);
}
form{
   margin: 0 auto;
   margin-top: 40px;
}
input[type=text] {
    border: 4px solid rgb(8, 59, 8);
    border-radius: 4px;
    width: 90%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    margin-bottom: 15px;;
    background-color: ;
  }
  input[type=email] {
    border: 4px solid rgb(8, 59, 8);
    border-radius: 4px;
    width: 90%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    margin-bottom: 15px;
  }
  input[type=password] {
    border: 4px solid rgb(8, 59, 8);
    border-radius: 4px;
    width: 90%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    margin-bottom: 15px;
  }
  input[type=radio] {
    border: 2px solid rgb(255, 255, 255)(255, 255, 255);
    border-radius: 4px;
    margin-bottom: 15px;
    
  }
  select {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: rgb(8, 59, 8);
    margin-bottom: 15px;
  }