*{
    margin: 0 ;
    padding: 0;
}
body{

border-radius: 5px;
background-image: url('../imagens/fullblack.jpg');
background-attachment: fixed;
background-repeat: no-repeat;
background-size: 853px 700px;
}
#principal{
    /*fundo da div*/
    float: right;
    background-color: black;
    background-size: 853px 700px;
    margin-bottom: 500px;
} 

h1{ 
    font-family: 'Rowdies', cursiv;
    font-size: 30px;
    margin: 0 auto;
}
p{
    font-family: 'Rowdies', cursiv
}
input{
    
}